
.service-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    text-align: center;
    margin-top: 10%;
}
.services-title{
    color: var(--lightBlue);
    font-size: 1.4rem;
}
.services-title2{
    color: var(--darkGray);
    font-size: 1.8rem;
    width: 550px;
    padding: 5% 0;
}
.service-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    
}

.card-body-service{
    text-align: center;
    padding: 0 15%;
    height: auto;
}

.card-body-service h3{
    color: var(--darkGray);
}

.card-body-service p{
    font-size: 1.03rem;
    font-weight: 500;
    text-align: center;
    padding: 10px 0;
}

.service-img {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem; /* Adjust the font size as needed */
    height: 60px;
    width: 60px;
    color: var(--white);
    background: var(--lightBlue);
    border-radius: 50%;
    margin-bottom: 15px; /* Add space between the icon and the title */
}

.card-service {
    display: flex;
    align-items: center; /* Align items at the start */
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 350px;
    height: 500px;
    box-shadow: 6px 6px 2em rgb(128, 128, 128); 
    margin: 2%;
    padding-top: auto;
}

@media screen and (max-width: 800px){
    .services-title{
        
        font-size: 1.4rem;
    }
    .services-title2{
        font-size: 1.6rem;
        width: 400px;
    }
}

@media screen and (max-width: 600px){
    .services-title{
        
        font-size: 1.2rem;
    }
    .services-title2{
        font-size: 1.2rem;
        width: 300px;
    }
    .service-container{
        flex-direction: column;
    }
}


@media screen and (max-width: 400px){
    
    .services-title{
        
        font-size: 1rem;
    }
    .services-title2{
        font-size: 1.1rem;
        width: 300px;
    }
    .service-container{
        flex-direction: column;
    }
    .card-body-service h3{
        color: var(--darkGray);
    }
    
    .card-body-service p{
        font-size: 0.85rem;
        
    }
    .card-service {
        width: 300px;
        height: 420px;
    }
}